<div class="footer">
  <img class="footerBgImg" src="/indexImg20200215_2_09.jpg" />
  <div class="footerBox">
    <div class="footerL">
      <h2>友情链接</h2>
      <ul class="footerYqUl">
        <li>
          <a href="http://www.beidou.gov.cn/" target="_blank"
            >北斗卫星导航系统</a
          >
        </li>

        <li>
          <a href="http://www.spacechina.com/n25/index.html" target="_blank"
            >中国航天科技集团有限公司</a
          >
        </li>

        <li>
          <a href="http://www.casic.com.cn/" target="_blank"
            >中国航天科工集团有限公司</a
          >
        </li>

        <li>
          <a href="http://www.cetc.com.cn/" target="_blank"
            >中国电子科技集团有限公司</a
          >
        </li>

        <li><a href="http://www.cas.cn/" target="_blank">中国科学院</a></li>

        <li>
          <a href="http://www.msadc.cn/main/home" target="_blank"
            >载人航天工程空间科学与应用数据共享服务平台</a
          >
        </li>

        <li>
          <a href="http://www.clep.org.cn/" target="_blank"
            >中国探月与深空探测</a
          >
        </li>

        <li>
          <a href="http://www.sastind.gov.cn/n25770/index.html" target="_blank"
            >中国高分辨率对地观测系统</a
          >
        </li>

        <li>
          <a href="http://www.nasa.gov/" target="_blank"
            >美国国家航空航天局（NASA）</a
          >
        </li>

        <li>
          <a href="https://www.esa.int/ESA" target="_blank"
            >欧洲航天局官网（ESA）</a
          >
        </li>

        <li>
          <a href="https://www.roscosmos.ru/" target="_blank"
            >俄罗斯航天国家集团（ROSCOSMOS）</a
          >
        </li>
      </ul>
      <div class="footerLB">
        <a class="footerLBLImgYd">
          <img src="/images/indexYdImg_20200215_15.png" />
        </a>
        <a class="footerLBLImg"> </a>
        <div class="footerLBR">
          <ul class="footerLBRUl">
            <li><a href="http://www.cmse.gov.cn/hdjl/zxly/">在线留言</a></li>
            <li><a href="http://www.cmse.gov.cn/lxwm/">联系我们</a></li>
            <li><a href="http://mail.cmse.gov.cn/">邮箱登录</a></li>
            <!--<li><a href="http://www.cmse.gov.cn/gywz/wzsm/">网站声明</a></li>
            <li></li>
            <li><a href="####">纠错</a></li>-->
          </ul>
          <p class="footerLBRP">
            <span><i>版权所有：</i>中国载人航天工程官方网站</span>
            <span><i>主办方：</i>中国载人航天工程办公室</span>
            <span
              ><i>备案序号：</i><a
                target="_blank"
                href="https://beian.miit.gov.cn"
                style="color: rgb(222, 233, 241); --darkreader-inline-color: #cee3f2;"
                data-darkreader-inline-color="">京ICP备20027467号-1</a
              ></span
            >
          </p>
        </div>
        <i class="goTop"></i>
      </div>
    </div>
    <div class="footerR"></div>
  </div>
</div>
