---
import Header from "./components/Header.astro";
import Background from "./components/Background.astro";
import Footer from "./components/Footer.astro";
import "@/index.css";
interface Props {
  bgUrl?: string;
}

const { bgUrl = "/bg.jpg" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>载人航天网站</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <Header />
    <slot />
    <Background url={bgUrl} />
    <Footer />
  </body>
</html>
