---
import BasicLayout from "@/layout/BasicLayout.astro";
---

<BasicLayout>
  <div class="w-full h-[70vh] flex justify-center items-center">
    <div class="w-1/2 h-2/3 flex justify-center items-center bg-white">
      页面不存在，<span id="time">5</span>秒后返回首页
    </div>
  </div>
</BasicLayout>

<script>
  const time = document.getElementById("time")!;
  let i = 5;
  setInterval(() => {
    if (i === 0) {
      window.location.href = "/";
    } else {
      time.innerHTML = i as unknown as string;
      i--;
    }
  }, 1000);
</script>
